.answer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;      
    margin: 20px 0;  
  }

  .problem-display {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: var(--primary-text-color);
    margin: 20px 0;
  }
  
  .answer-input {
    font-size: 3.5rem;
    width: 180px;
    text-align: center;
  }
  
.status-text {
  font-size: 32px; 
  font-family: Fustat Semibold;
    margin: 10px 0;
  }
  
  