@font-face {
  font-family: "Hammersmith One";
  src: url("./assets/HammersmithOne-Regular.ttf");
  font-weight: 20;
  font-style: normal;
}

@font-face {
  font-family: "Fustat Bold";
  src: url("./assets/Fustat-Bold.ttf");
  font-weight: 20;
  font-style: normal;
}

@font-face {
  font-family: "Fustat Regular";
  src: url("./assets/Fustat-Regular.ttf");
  font-weight: 20;
  font-style: normal;
}

@font-face {
  font-family: "Fustat Semibold";
  src: url("./assets/Fustat-SemiBold.ttf");
  font-weight: 20;
  font-style: normal;
}

body {
  background: var(--background-color);
  font-family: Fustat Semibold;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Light Mode color variables (default theme) */
:root {
  --background-color: linear-gradient(100deg, #F8B76D 0%, #F5D7DC 100%);
  --shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

  --primary-text-color: black;
  --secondary-text-color: white;
  --title-text-color: black;

  --primary-button-color:#FFCED6;
  --secondary-button-color: #ffb55a;
  --tertiary-button-color: #ffcf67;

  --primary-button-hover: #ffaab8;
  --secondary-button-hover: #ff961e;
  --tertiary-button-hover: #ffcf67;
}

/* Dark Mode color variables */
[data-theme="dark"] {
  --background-color: linear-gradient(100deg, rgba(0,20,71,1) 0%, rgba(87,65,186,1) 100%);
  --shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);

  --primary-text-color: black;
  --secondary-text-color: white;
  --title-text-color: white;

  --primary-button-color:#5741BA;
  --secondary-button-color: #1C3A86;
  --tertiary-button-color: #ffcf67;

  --primary-button-hover: #3d289a;
  --secondary-button-hover: #0c225b;
  --tertiary-button-hover: #ffcf67;
}
