@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background: linear-gradient(150deg, rgba(0,20,71,1) 0%, rgba(87,65,186,1) 100%);
    font-family: 'DM Sans', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.create-account-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.create-account-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.exit-button:hover {
    background-color: darkred;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #16213e;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

select.input-field {
    background: white;
    cursor: pointer;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.create-button {
    background-color: #0f3460;  
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    width: 100%;
}

.create-button:hover {
    background-color: #1a508b;  
}

