.back-to-login {
    font-family: Fustat Semibold;
    font-size: 20px;
    color: #16213e;
    margin-top: 20px;
    align-self: flex-start;
    text-decoration: underline;
}

.back-to-login:hover {
    transform: scale(1.05);
}
