@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.exercise-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;  
    background: none !important; 
}

.top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    min-width: 95vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.back-button {
    background-color: #ffdc7c;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.exercise-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white; 
}

.exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.exercise-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.exercise-card:hover {
    background-color: #ffba57;
}

.exercise-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.exercise-name {
    color: black;
}