.help-container {
    background-color: #ffdc7c; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.exit-button:hover {
    background-color: darkred;
}
