a {
    color: inherit;
    text-decoration: none;
}

.hp-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 95vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-family: Hammersmith One;
    font-size: 36px;
    font-weight: bold;
}

.inner-box {
    width: 90%; 
    height: 75%; 
    padding: 20px; 
    background: rgba(255, 255, 255, 0.7); 
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5); 
    border-radius: 10px; 
    text-align: center; 

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    align-self: center;
    position: relative;
}

.logout-button {
    width: 150px;
    height: 50px;

    font-size: 25px;
    font-weight: bold;
    font-family: Fustat Bold; 
    color: white;

    background-color: #001447;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2); 
}

.logout-button:hover {
    background-color: #ffcf67;
    color: black;
}

.hp-sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 14%;
    margin-top: 6px;
}

.hp-sub-button {
    height: 90%;
    width: 25vw;
    min-height: 50px;
    min-width: 150px;

    font-family: Fustat Semibold;
    font-size: 25px;
    color: black;

    background: #f0c5ff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); 
    border: none;
    border-radius: 20px;
}

.hp-sub-button:hover {
    background-color: #e29efa;
}

.action-button {
    height: 25vw;
    width: 25vw;
    min-width: 150px;
    min-height: 150px;
    max-height: 600px;
    max-width: 600px;
    
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.gallery-button {
    border: 20px #FFAED0;
    border-style: solid;
    border-radius: 20px;
}

.gallery-button:hover {
    border-color: #ec6ca1;
}

.exercise-button {
    border: 20px #FFBB5A;
    border-style: solid;
    border-radius: 20px;
}

.exercise-button:hover {
    border-color: #f7960d;
}

.add-button {
    border: 20px #99D9B1;
    border-style: solid;
    border-radius: 20px;
}

.add-button:hover {
    border-color: #4abd76;
}

.action-button-icon {
    width: 14vw;
    height: 14vw;
    border-radius: 10px;
}

.action-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 70%; */
    padding-top: 10px;
}

.support-container {
    justify-content: space-evenly;
}

.action-buttons-text {
    font-family: Fustat Regular;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.welcome-message {
    font-family: Fustat Bold;
    font-size: 50px;
    font-weight: bolder;
    color:black;
    padding-left: 18px;
    align-self: flex-start;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}