@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background: linear-gradient(to right, #16213e, #0f3460); /* Dark blue gradient */
    font-family: 'DM Sans', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logging-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.top-right-title {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.logging-in-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    min-height: 200px;  
}

.logging-in-box:hover {
    transform: scale(1.02);
}

.logging-in-box p.loading-text {
    min-height: 40px;  
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #0f3460;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    outline: none;
    transition: border 0.3s ease;
}

.input-field:focus {
    border: 2px solid #0f3460;
}

.login-button {
    background: #1a508b;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    transition: background 0.3s ease, transform 0.2s;
    width: 100%;
}

.login-button:hover {
    background: #0f3460;
    transform: translateY(-2px);
}

.exit-button {
    position: absolute;
    top: 10px;  
    right: 10px; 
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.exit-button:hover {
    background: darkred;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.loading-text {
    font-size: 20px;
    font-weight: bold;
    color: #0f3460;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out infinite alternate;
}

/* Simple fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
