@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background-color: #ffdc7c;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.inner-box {
    background: white; 
    padding: 20px; 
    border-radius: 10px; 
    height: 600px; 
    width: 1000px; 
    text-align: center; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative;
}

.logout-button {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 1250px;
    font-size: 25px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif; 
    color: black;
    border-radius: 10px;
    border: none;
    background-color: #ffdc7c;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4); 
}

.logout-button:hover {
    background-color: #ffb300;
}

.progress-button {
    background: #e52d74;
    color: white;
    border: none;
    border-radius: 20px;
    height: 70px;
    width: 300px;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.gallery-button {
    background-color: #ffba57;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.exercises-button {
    background-color: #8772ff;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.add-button {
    background-color: #ff8fce;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.button-container {
    margin-left: 20px;
    margin-right: 20px;
}

.action-buttons-container {
    display: flex;
    padding: 30px;
}

.action-buttons-text {
    font-size: 24px;
    font-weight: bold;
}

.welcome-message {
    font-size: 50px;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}